.container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 379px;
  height: 200px;
  display: flex;
}

.imageContainer {
  height: auto;
  width: 190px;
  overflow: hidden;
}

.image {
  height: auto;
  width: 190px;
  object-fit: cover;
  position: absolute;
}

.image img {
  background-repeat: no-repeat;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info {
  flex-grow: 1;
}

.name {
  font-family: "Elsie Swash Caps", serif;
  font-size: 32px;
  margin: 0 0 5px 0;
  color: #333;
  font-weight: bold;
  word-break: break-word;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #666;
}

.buyButton {
  background: none;
  border: none;
  color: #ffd700;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.arrow {
  margin-left: 5em;
}
