.mancha {
  position: absolute;
  right: 0%;
  width: 50%;
  height: auto;
  z-index: 1;
}

.yellowBlobImage {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .heroImage {
    right: -30%;
    width: 100%;
  }
}
